<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.sointeractive.getresults.pebble"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Needed permissions in order to scan for beacons. -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Declaration that this app is usable on phones with Bluetooth Low Energy. -->
    <!-- <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/> -->

    <application
        android:name=".utils.Application"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">

        <!-- ACTIVITIES -->

        <activity
            android:name=".activities.PebbleActivity"
            android:label="PebbleCommunication"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- SERVICES -->

        <service
            android:name="com.estimote.sdk.service.BeaconService"
            android:exported="false"/>

        <!-- RECEIVERS -->

        <receiver
            android:name=".pebble.receivers.PebbleDataReceiver"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.getpebble.action.app.RECEIVE"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name=".pebble.receivers.PebbleAckReceiver"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.getpebble.action.app.RECEIVE_ACK"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name=".pebble.receivers.PebbleNackReceiver"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.getpebble.action.app.RECEIVE_NACK"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name=".pebble.receivers.PebbleConnectedReceiver"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.getpebble.action.PEBBLE_CONNECTED"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name=".pebble.receivers.PebbleDisconnectedReceiver"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.getpebble.action.PEBBLE_DISCONNECTED"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name=".isaacloud.notification.IsaacloudNotificationReceiver"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.isaacloud.action.ISAACLOUD_NOTIFICATION"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name=".isaacloud.receivers.BootReceiver"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".isaacloud.receivers.AlarmReceiver"/>

    </application>

</manifest>
